/* 전체 */
* { margin: 0 auto; padding: 0; list-style: none; text-decoration: none; color: black;}
a {
    color: inherit; /* 부모의 색상을 상속받아서 같은걸로 한다*/
}
a :hover {color: inherit;}

body {width: 1000px;}
/* 전체 기본은 대부분 다 동일 */

/* 헤더 */
header { height: 150px;}
header>div {float: left;}
header>div>img {width: 150px; margin-top: 40px; }
header>nav {float: right; margin-top: 30px; padding: 10px;}
/* 내비의 전체를 플롯으로 오른쪽으로 쌓고 왼쪽으로 정렬해준다 */
.nav{width: 600px; height: 20px;}
.nav>li{float: left; width: 200px; text-align: center; padding: 5px 0; position: relative;}
.nav>li:hover { background-color: darkblue; color: white;}
.submenu{display: none; position: absolute; width: 100%; margin-top: 5px; z-index: 1;}
/* width는 postion:relative 준곳의 width만큼 absolute 사용하면 그냥margin 사용 불가 margin-top 이렇게 사용해야한다*/
.submenu>li{ padding: 5px 0; background-color: rgba(255, 255, 255, 0.5); z-index: 2;}
.submenu>li:hover{background-color: rgb(36, 101, 204); color: white;}

/* 본문 이미지 */
#imgslide{clear: both; height: 400px; position: relative; overflow: hidden;}
/* clear, posiotn은 헤더에서 했던걸 풀어준것이다. */
#imgslide>div{position: absolute; display: flex;}
/* 본문 내용 */